<!-- <div class="jumbotron" id="content">
  <h1>Angular Folder Structure</h1>

  <p>
    Based on best practices from the community, other github Angular projects, 
    developer experience from production Angular projects, and contributors, 
    this project goal is to create a skeleton structure which is flexible 
    for projects big or small.
  </p>

  <p>
    This project defines directory structure in an Angular application and it 
    is a working application. The code for this project can be found at 
    <a href="https://github.com/mathisGarberg/angular-folder-structure">
      https://github.com/mathisGarberg/angular-folder-structure
    </a>
  </p>
</div> -->

   <!-- About Section -->

   <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
       <img src="https://s3-media0.fl.yelpcdn.com/bphoto/zWhyS8Q6Lfn7p01_FrC76w/ls.jpg"
          class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
       <h1 class="w3-center">About Elegant Interiors</h1><br>
       <h5 class="w3-center">Tradition since 1889</h5>
       <p class="w3-large">Over the past 10 years, HomeTown has been bringing the latest designs & fashion to Indian
          homes. HomeTown offers the widest and best in class range in furniture, home furnishings & decor, modular
          kitchens, home improvement and more. Our commitment to quality and timeless designs has helped us evolve
          over the years and it indeed fills us with pride to be the <span class="w3-tag w3-light-grey">first
             choice</span> of many.</p>
       <p class="w3-large w3-text-grey w3-hide-medium">Being recognized as India’s biggest store in homemaking,
          renovation and decor, our products are exclusively designed while keeping durability and comfort at
          priority.

          From classy sofas to chic dining sets to kitchen essentials and artifacts, we offer everything to beautify
          your living space. Since 2006, we’ve grown to over 40 stores across 22 cities. Keeping pace with the
          tech-savvy world, we have maintained a strong web presence with prompt online services.</p>
    </div>
 </div>