<div class="w3-top">
  <div id="ex4">
    <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a [routerLink]="['/auth/home']" class="w3-bar-item w3-button">Elegant Interiors</a>
      <div class="w3-right w3-hide-small">
        <a [routerLink]="['/auth/about']" class="w3-bar-item w3-button">About</a>
        <a [routerLink]="['/furniture']" class="w3-bar-item w3-button">Items</a>
        <a [routerLink]="['/auth/contact']" class="w3-bar-item w3-button">Contact</a>
        <!-- <a [routerLink]="['/login']" class="w3-bar-item w3-button">View Cart</a> -->
        <a [routerLink]="['/login']" style="color: black" class="p1 fa-stack fa-2x has-badge" data-count="4">
          <i class="p3 fa fa-shopping-cart fa-stack-1x xfa-inverse" data-count="4b"></i>
        </a>
        <a [routerLink]="['/login']" class="w3-bar-item w3-button">Login</a>
      </div>
    </div>
  </div>
</div>