<!-- <div class="jumbotron" id="content">
  <h1>
    Contact Angular Folder Structure
  </h1>

  <p>
    The best way to contact this project is by
    <a href="https://github.com/mathisGarberg/angular-folder-structure/issues">
      opening an issue
    </a> on the repository.
  </p>

</div> -->

 <!-- Contact Section -->
 <div class="w3-container w3-padding-64" id="contact">
  <h1>Contact</h1><br>
  <p>We offer full-service furnishing for any event, large or small. We understand your needs and we will furnish to
     satisfy the biggest criteria of them all. Do not hesitate to contact us.</p>
  <p class="w3-text-blue-grey w3-large"><b>Furnishing Service, 42nd Living St, 43043 New York, NY</b></p>
  <p>You can also contact us by phone 00553123-2323 or email furnish@furnish.com, or you can send us a message here:
  </p>
  <form action="/action_page.php" target="_blank">
     <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
     <p><input class="w3-input w3-padding-16" type="number" placeholder="How many people" required name="People">
     </p>
     <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date"
           value="2017-11-16T20:00"></p>
     <p><input class="w3-input w3-padding-16" type="text" placeholder="Message \ Special requirements" required
           name="Message"></p>
     <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>

  </form>
</div>