<!-- Navbar (sit on top) -->
<!-- <div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a [routerLink]="['/auth/home']" class="w3-bar-item w3-button">Elegant Interiors</a> -->
    <!-- Right-sided navbar links. Hide them on small screens -->
    <!-- <div class="w3-right w3-hide-small"> -->
      <!-- <a href="#about" class="w3-bar-item w3-button">About</a>
      <a href="#menu" class="w3-bar-item w3-button">Menu</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a> -->
      <!-- <a [routerLink]="['/furniture']" class="w3-bar-item w3-button">Search more designs..</a>
      <a href="login" class="w3-bar-item w3-button">LogOut</a>
    </div>
  </div>
</div> -->


<div class="padding">
<div class="container" style="width: 25cm;">
<!-- <header style="padding-top: 3%;" id="site-header"> -->
  <!-- <div class="container"> -->
      <h1>My Cart</h1>
  <!-- </div> -->
<!-- </header> -->

<div class="container">

  <section id="cart"> 
      <article class="product">
          <header>
              <a class="remove">
                  <img src="/assets/images/conf.jpg" alt="">

                  <h3>Remove product</h3>
              </a>
          </header>

          <div class="content">

              <h1>Conference Table</h1>

              Brand: Royal oak
                              Dimensions: H 29.5 x W 94.8 x D 47.2
                              Weight: 55 KG
                              Primary Material: Engineered Wood
                              Room Type: Office Furniture
                              Height: 30.0 inches
                              Width: 95.0 inches
                              Depth: 48.0 inches.

              <div title="You have selected this product to be shipped in the color yellow." style="top: 0"></div>
          </div>

          <footer class="content">
              <span class="qt-minus">-</span>
              <span class="qt">1</span>
              <span class="qt-plus">+</span>

              <h2 class="full-price">
                  45.00$
              </h2>

              <h2 class="price">
                  45.00$
              </h2>
          </footer>
      </article>

      <article class="product">
          <header>
              <a class="remove">
                  <img src="/assets/images/boss.jpg" alt="">

                  <h3>Remove product</h3>
              </a>
          </header>

          <div class="content">

              <h1>Boss Table </h1>

              Brand: Royal oak
                              Dimensions: Table : H 30 x W 62 x D 31.5(all dimensions in inches)
                              Primary Material: Engineered Wood
                              Room Type: Office Furniture
                              Height: 30.0 inches
                              Width: 62.0 inches
                              Depth: 31.5 inches

              <div title="You have selected this product to be shipped in the color red." style="top: 0"></div>
              
          </div>

          <footer class="content">
              
              <span class="qt-minus">-</span>
              <span class="qt">1</span>
              <span class="qt-plus">+</span>

              <h2 class="full-price">
                  45.00$
              </h2>

              <h2 class="price">
                  45.00$
              </h2>
          </footer>
      </article>

      <article class="product">
          <header>
              <a class="remove">
                  <img src="/assets/images/desk.jpg" alt="">

                  <h3>Remove product</h3>
              </a>
          </header>

          <div class="content">

              <h1>Desk Arm Chair</h1>

              Product Dimensions: Length (47.00 cm), Width (48.00 cm), Height (94.00 cm).
                              Primary Material: Mesh, Upholstery Material: Fabric.
                              Color: Black, Style: Mid Back.
                              Assembly Required: The product requires basic assembly and comes with assembly instructions.

              <div title="You have selected this product to be shipped in the color blue." style="top: 0" ></div>
              
          </div>

          <footer class="content">
              
              <span class="qt-minus">-</span>
              <span class="qt">1</span>
              <span class="qt-plus">+</span>

              <h2 class="full-price">
                  45.00$
              </h2>

              <h2 class="price">
                  45.00$
              </h2>
          </footer>
      </article>

  </section>

</div>

<footer id="site-footer">
  <div class="container clearfix">

      <div class="left">
          <h2 class="subtotal">Subtotal: <span>135.00</span>$</h2>
          <h3 class="tax">Taxes (5%): <span>6.75</span>$</h3>
          <h3 class="shipping">Shipping: <span>5.00</span>$</h3>
      </div>

      <div class="right">
          <h1 class="total">Total: <span>177.16</span>$</h1>
          <a [routerLink]="['/furniture/checkout']" style="color: white;" class="btn">PROCED TO PAY</a>
      </div>

  </div>
</footer>
</div>
</div>