<div class="w3-top">
   <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
      <a href="#home" class="w3-bar-item w3-button">Elegant Interiors</a>
      <!-- Right-sided navbar links. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
         <a [routerLink]="['/about']" class="w3-bar-item w3-button">About</a>
         <a [routerLink]="['/item']" class="w3-bar-item w3-button">Items</a>
         <a [routerLink]="['/contact']" class="w3-bar-item w3-button">Contact</a>
         <a [routerLink]="['/login']" class="w3-bar-item w3-button">View Cart</a>
         <a [routerLink]="['/login']" class="w3-bar-item w3-button">Login</a>
      </div>
   </div>
 </div>
<br><br><br><br>
<!-- Menu Section -->
<section class="menu_list mt-60 mb-60" id="menu">
    <div class="container">
       <div class="row">
          <div class="col-xl-12">
             <div class="section-title text-center mb-60">
                <p>Redefining Interior</p>
                <h4>our items</h4>
             </div>
          </div>
       </div>
       <div class="row">
          <ul class="nav nav-tabs menu_tab" id="myTab" role="tablist">
             <li class="nav-item">
                <a class="nav-link" id="breakfast-tab" data-toggle="tab" href="#breakfast" role="tab"
                   aria-selected="">Office</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" id="lunch-tab" data-toggle="tab" href="#lunch" role="tab"
                   aria-selected="false">Shop</a>
             </li>
             <li class="nav-item">
                <a class="nav-link active show" id="dinner-tab" data-toggle="tab" href="#dinner" role="tab"
                   aria-selected="true">Home</a>
             </li>
          </ul>
       </div>


       <div class="row">
          <div class="tab-content col-xl-12" id="myTabContent">
             <div class="tab-pane fade" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
                <div class="row">
                   <div class="col-md-6">
                      <div class="single_menu_list">
                         <img src="/assets/images/conf.jpg" alt="">
                         <div class="menu_content">
                            <h4>Conference Table <span>$45</span></h4>
                            <p>Brand: Royal oak
                               Dimensions: H 29.5 x W 94.8 x D 47.2
                               Weight: 55 KG
                               Primary Material: Engineered Wood
                               Room Type: Office Furniture
                               Height: 30.0 inches
                               Width: 95.0 inches
                               Depth: 48.0 inches.</p>
                               
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/boss.jpg" alt="">
                         <div class="menu_content">
                            <h4>Boss Table <span>$45</span></h4>
                            <p>Brand: Royal oak
                               Dimensions: Table : H 30 x W 62 x D 31.5(all dimensions in inches)
                               Primary Material: Engineered Wood
                               Room Type: Office Furniture
                               Height: 30.0 inches
                               Width: 62.0 inches
                               Depth: 31.5 inches
                            </p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/desk.jpg" alt="">
                         <div class="menu_content">
                            <h4>Desk Arm Chair <span>$45</span></h4>
                            <p>Product Dimensions: Length (47.00 cm), Width (48.00 cm), Height (94.00 cm).
                               Primary Material: Mesh, Upholstery Material: Fabric.
                               Color: Black, Style: Mid Back.
                               Assembly Required: The product requires basic assembly and comes with assembly
                               instructions.
                               Warranty: 1 year warranty against manufacturing defect's.
                            </p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="single_menu_list">
                         <img src="/assets/images/berry.jpg" alt="">
                         <div class="menu_content">
                            <h4>Berry<span>$45</span></h4>
                            <p>Material & Subtype
                               Premium Leatherette
                               Colour & Colour Family Brown - Coffee Brown
                               Seating Capacity 1 Seater
                               Seating Height 445mm (17.51 inch)
                               Finish Matte
                            </p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/file.jpg" alt="">
                         <div class="menu_content">
                            <h4>File Cabinet <span>$45</span></h4>
                            <p>This filing cabinet with open storage spaces, file drawers and storage cabinet is
                               designed to keep the office machines, paper, files and supplies organized. It can be
                               fixed beside or under desk.
                               Colour & Colour Family White - Maple
                            </p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/office.jpg" alt="">
                         <div class="menu_content">
                            <h4>Executive Desk<span>$45</span></h4>
                            <p>Stylish and commanding, these expertly crafted tables are guaranteed to make a strong
                               visual impact in any office environment.</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="tab-pane fade" id="lunch" role="tabpanel" aria-labelledby="lunch-tab">
                <div class="row">
                   <div class="col-md-6">
                      <div class="single_menu_list">
                         <img src="/assets/images/oc.jpg" alt="">
                         <div class="menu_content">
                            <h4>Office Chair<span>$45</span></h4>
                            <p>Details--FlowMotion with forward tilt and seat depth adjustment
                               Material--Fabric Vitra Plano (100% polyester)
                               Colour---Black
                               Dimensions--Height: 109.5 cm, Depth: 79 cm, Length: 45 cm
                               Weight--14 kg (without packaging)
                               For outdoor use--No
                               Height adjustable--No</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/DWS.jpg" alt="">
                         <div class="menu_content">
                            <h4>Wooden Rack<span>$45</span></h4>
                            <p>Material & Subtype Engineered Wood
                               Colour & Colour Family Brown - Wenge
                               Dimension (L)1200mm X (D)600mm X (H)1200mm</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/rack.jpg" alt="">
                         <div class="menu_content">
                            <h4>Display rack<span>$45</span></h4>
                            <p>Product Name---Wood racks design Gondola shelf for boutique store display rack
                               Dimension--L1000*W650*H1520mm or customized
                               Color--Burlywood, according to you needs
                               Material--steel , MDF
                               Loading Capacity--50-55Kg per layer</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="single_menu_list">
                         <img src="/assets/images/shelf.jpg" alt="">
                         <div class="menu_content">
                            <h4>Shelf<span>$45</span></h4>
                            <p>These durable birch hardwood storage cabinets have two spacious shelves to provide
                               plentiful storage for books, art supplies, toys and more. Shelves have a back for use
                               against a wall.
                               Specifications:
                               - Size: 2. 5'' x 2. 5'' , 2. 5'' x 2'' 2. 5'' x 15''
                               - Material: SS
                               - Color: Silver</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/trolley.jpg" alt="">
                         <div class="menu_content">
                            <h4>Trolley<span>$45</span></h4>
                            <p>Brand --Spanco
                               Type --Garment Display Storage
                               Material --Metal
                               Size --Customized</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/wood.jpg" alt="">
                         <div class="menu_content">
                            <h4>Wooden Chair<span>$45</span></h4>
                            <p>Type: Dining Room Furniture
                               Specific Use: Dining Chair
                               General Use: Home Furniture
                               Wood Style: Solid Wood
                               Style: Minimalist Modern
                               With Handrails: no
                               Brand Name: stenzhorn
                               Is Rotatable: No
                               is_customized: Yes
                               Appearance: Modern
                               Folded: No
                               Material: Wooden</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="tab-pane fade active show" id="dinner" role="tabpanel" aria-labelledby="dinner-tab">
                <div class="row">
                   <div class="col-md-6">
                      <div class="single_menu_list">
                         <img src="/assets/images/sofa.jpg" alt="">
                         <div class="menu_content">
                            <h4>Palermo Sofa <span>$45</span></h4>
                            <p>A fabric 3 seater sofa bed that transforms to a twin bed
                               The plush cushions make it extremely soft and comfortable in either form
                               For indoor use only.</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/chair.jpg" alt="">
                         <div class="menu_content">
                            <h4>Ball Chair <span>$45</span></h4>
                            <p>Wing your way to comfort. The Ball Chair is the perfect spot for an afternoon snooze,
                               or a date with a good book.
                               The plush cushions let you sink in, while the enclosing wings give you a place to rest
                               your head, and create a cozy cocoon around you.
                               Indoor use only
                               Extra cushions not included, unless mentioned otherwise. .</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/table.jpg" alt="">
                         <div class="menu_content">
                            <h4>Coffee Table<span>$45</span></h4>
                            <p>Too cube for words! Delightfully versatile and completely clever, the Penland coffee
                               table is the complete package. The comfy, large cushion fit snugly into the frame, so
                               you tuck them away when needed. The cubby holes double as display nooks for your books
                               and curios as well. Lift the tray to stash your magazines, newspapers, and more.
                               Made from premium Mango wood.</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                   </div>
                   <div class="col-md-6">
                      <div class="single_menu_list">
                         <img src="/assets/images/book.jpg" alt="">
                         <div class="menu_content">
                            <h4>Display Cabinet<span>$45</span></h4>
                            <p>The Fujiwara display cabinet is inspired by the Zen ideal of the middle way - rooted in
                               Japanese design, but embellished with Indian touches.
                               Made from sheesham wood, cane, glass, and MDF
                               Teak finish.</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/bed.jpg" alt="">
                         <div class="menu_content">
                            <h4>Sandon Storage Bed<span>$45</span></h4>
                            <p>Stash away extras in the storage compartment. Stack up essentials and knick-knacks in
                               the headboard shelves. And then, sleep tight, because everything you love has found a
                               place.
                               Made of MDF in a walnut finish
                               Recommended mattress size: King - 78” x 72”, Queen - 78” x 60”</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                      <div class="single_menu_list">
                         <img src="/assets/images/din.jpeg" alt="">
                         <div class="menu_content">
                            <h4>Dining Table<span>$45</span></h4>
                            <p>A sturdy solid wood dining table with 4 dining chairs and a bench
                               The understated Arabia dining table combines perfectly with the comfortable Capra
                               chairs and Arabia bench
                               The bench can be easily tucked under the table when not in use.</p>
                            <button type="button" (click)="login()" class="btn btn-danger">Add to Cart</button>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>
 <app-footer></app-footer>